.navi {
 font-family: Arial;
 font-size: 18pt;
 text-align: center;
 color: #FFFFFF;
}

.text {
 font-family: Arial;
 font-size: 12pt;
 color: #000000;
}

.fueh {
 font-family: Arial;
 font-size: 12pt;
 color: #ffffff;
}

a:link {
 font-family: Arial;
 text-decoration: underline;
 font-size: 12pt;
 color: blue;
}
a:visited {
 font-family: Arial;
 text-decoration: underline;
 font-size: 12pt;
 color: #60641F;
}

a:hover {
 font-family: Arial;
 text-decoration: underline;
 font-size: 12pt;
 color: red;
}

.uber {
 font-family: Arial;
 font-size: 24pt;
 text-align: center;
 font-weight: bold;
  color: #ffffff;
}
.uber2 {
 font-family: Arial;
 font-size: 24pt;
 text-align: center;
 font-weight: bold;
  color: #656565;
}

#overlay {
	position: fixed;
	z-index:  199;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
}

a.tooltip {
	font-style:italic;
}

a.tooltip span {
	display:none;
	padding:2px 3px;
	margin-left:8px;
	min-width: 130px;
	text-decoration: none;
	font-style: normal;
	color: black;
}

a.tooltip:link span {
	text-decoration: none;
}

a.tooltip:hover span {
	display:inline;
	position:absolute;
	border:1px solid #cccccc;
	background: #ffffff;
	text-decoration: none;
}

a.tooltip:visited span {
	text-decoration: none;
}



.overlayBG {
	background-color:#000;
	-ms-filter: "Alpha(Opacity=75)"; /* IE 8 */
	filter:alpha(opacity=75); /* IE5-7 */
	-moz-opacity: 0.75; /* Mozilla */
	opacity: 0.75;
}

#lightBox {
	position:fixed;
	left: 20%;
	right: 20%;
	margin-left:-100px;
	margin-top: 1%;
	z-index:200;
	width: 80%;
	min-height:200px;
	border:10px groove #656565;padding:8px;
	background-color: #e7e7e7;
}

#lightBoxInner {
	padding-top:   20px;
	padding-left:  10px;
	padding-right: 10px;
	padding-bottom:20px;
}

#lightBoxClose {
	text-align:right;
	font-size: 10pt;
}

* html #lightBox { /* ie6 hack */
	position: absolute;
	margin-top: expression(0 - parseInt(this.offsetHeight / 2) + (TBWindowMargin = document.documentElement && document.documentElement.scrollTop || document.body.scrollTop) + 'px');
}


